.table_style {
    width: 90%;
    text-align: left;
}
.table_style th {
background: grey;
color: white;
word-wrap: break-word;
text-align: center;
}

.table_style {
    background-color: lightgreen;
}

.table_style tr:nth-child(1) { background: lightgray; }
.table_style tr:nth-child(3) { background: lightgray; }
.table_style tr:nth-child(5) { background: lightgray; }


.banner {
  background-color: lightgreen;
  font-weight:bold;
}
